{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "trailingComma": "all",
    "singleQuote": true,
    "jsxBracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "arrowParens": "avoid"
}
