.container {
    padding: 20px;
    width: 70%;
}

.selected {
    background-color: yellow;
}

.customSelect {
    display: inline-block;
    width: auto;
    background-color: #fff;
    margin: 0 5px;
}
